# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env
.env.*

# Logs
logs
*.log

# Docker
*.pid
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.qodo

# Coverage
coverage/

# Database
*.sqlite
*.db

# Misc
*.tgz

# Ignore local environment overrides
*.local.js
*.local.json
